<div class="fs-ctbrand">
   
    <div class="owl-carousel fsicte owl-loaded owl-drag" data-items="7">

    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1317px;"><div class="owl-item active" style="width: 146.286px;"><div class="item">
                <a href="/may-tinh-xach-tay/apple-macbook" onclick="ga('send', 'event', 'Category Pages (PC)', 'Click Top Brand Icon', 'Apple (Macbook)');" title="Apple (Macbook)" class="filter-brand br-catbname">
                <div>
                    <img class="owl-lazy" src="../../resources/logo/635793092706022125_apple.jpg" data-src="//cdn.fptshop.com.vn/Uploads/Thumbs/2015/10/1/635793092706022125_apple.jpg" alt="Apple (Macbook)" style="opacity: 1;">
                </div>
                <p>Apple</p>
                </a>
            </div></div><div class="owl-item active" style="width: 146.286px;"><div class="item">
                <a href="/may-tinh-xach-tay/asus" onclick="ga('send', 'event', 'Category Pages (PC)', 'Click Top Brand Icon', 'Asus');" title="Asus" class="filter-brand br-catbname">
                <div>
                    <img class="owl-lazy" src="../../resources/logo/635932890324997258_asus.png" data-src="//cdn.fptshop.com.vn/Uploads/Thumbs/2016/3/11/635932890324997258_asus.png" alt="Asus" style="opacity: 1;">
                </div>
                <p>Asus</p>
                </a>
            </div></div><div class="owl-item active" style="width: 146.286px;"><div class="item">
                <a href="/may-tinh-xach-tay/acer" onclick="ga('send', 'event', 'Category Pages (PC)', 'Click Top Brand Icon', 'Acer');" title="Acer" class="filter-brand br-catbname">
                <div>
                    <img class="owl-lazy" src="../../resources/logo/635932889825530832_Acer.png" data-src="//cdn.fptshop.com.vn/Uploads/Thumbs/2016/3/11/635932889825530832_Acer.png" alt="Acer" style="opacity: 1;">
                </div>
                <p>Acer</p>
                </a>
            </div></div><div class="owl-item active" style="width: 146.286px;"><div class="item">
                <a href="/may-tinh-xach-tay/dell" onclick="ga('send', 'event', 'Category Pages (PC)', 'Click Top Brand Icon', 'Dell');" title="Dell" class="filter-brand br-catbname">
                <div>
                    <img class="owl-lazy" src="../../resources/logo/635932890807153075_dell.png" data-src="//cdn.fptshop.com.vn/Uploads/Thumbs/2016/3/11/635932890807153075_dell.png" alt="Dell" style="opacity: 1;">
                </div>
                <p>Dell</p>
                </a>
            </div></div><div class="owl-item active" style="width: 146.286px;"><div class="item">
                <a href="/may-tinh-xach-tay/hp" onclick="ga('send', 'event', 'Category Pages (PC)', 'Click Top Brand Icon', 'HP');" title="HP" class="filter-brand br-catbname">
                <div>
                    <img class="owl-lazy" src="../../resources/logo/635932891350153822_Hp.png" data-src="//cdn.fptshop.com.vn/Uploads/Thumbs/2016/3/11/635932891350153822_Hp.png" alt="HP" style="opacity: 1;">
                </div>
                <p>HP</p>
                </a>
            </div></div><div class="owl-item active" style="width: 146.286px;"><div class="item">
                <a href="/may-tinh-xach-tay/lenovo" onclick="ga('send', 'event', 'Category Pages (PC)', 'Click Top Brand Icon', 'Lenovo');" title="Lenovo" class="filter-brand br-catbname">
                <div>
                    <img class="owl-lazy" src="../../resources/logo/635932891350309809_lenovo.png" data-src="//cdn.fptshop.com.vn/Uploads/Thumbs/2016/3/11/635932891350309809_lenovo.png" alt="Lenovo" style="opacity: 1;">
                </div>
                <p>Lenovo</p>
                </a> 
            </div></div><div class="owl-item" style="width: 146.286px;"><div class="item">
                <a href="/may-tinh-xach-tay/masstel" onclick="ga('send', 'event', 'Category Pages (PC)', 'Click Top Brand Icon', 'Masstel');" title="Masstel" class="filter-brand br-catbname">
                <div>
                    <img class="owl-lazy" src="../../resources/logo/635896004818738946_mastel.png" data-src="//cdn.fptshop.com.vn/Uploads/Thumbs/2016/1/28/635896004818738946_mastel.png" alt="Masstel" style="opacity: 1;">
                </div>
                <p>Masstel</p>
                </a>
            
</div>