<div class="container-fluid mt-sm-3">
    <div class="row text-center bg-white">
        <div class="col-sm _branch">
            <img src="../../resources/logo/samsung-logo.jpg">
        </div>
        <div class="col-sm _branch">
            <img src="../../resources/logo/samsung-logo.jpg">
        </div>
        <div class="col-sm _branch">
            <img src="../../resources/logo/samsung-logo.jpg">
        </div>
        <div class="col-sm _branch">
            <img src="../../resources/logo/samsung-logo.jpg">
        </div>
        <div class="col-sm _branch">
            <img src="../../resources/logo/samsung-logo.jpg">
        </div>
        
    </div>
</div>