<footer>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                    <img src="../../resources/logo/white-logo.png">
                    <p class="slogan">Thích thì mua, không thích thì mua !!!</p>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <h3> Contact </h3>
                    <ul>
                        <li><a class="email"href="#"> ĐH Công Nghệ Thông Tin - DHQGHCM</a></li>
                        <br/>
                        <li> <p> 17520650@gm.uit.edu.vn ( Mr. Khoi Nguyen )</p> </li>
                        <li> <p> 17520716@gm.uit.edu.vn ( Mrs. Phi Long )</p> </li>
                    </ul>
                </div>
               
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
                          
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="col-5 pull-left copyright"> Copyright © Aurel 2019. All right reserved. </p>
                <div class="col-6 pr-6 pt-2 pb-0">
                    <ul class="social-network social-circle inline pull-right m-0">
                      <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                      <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 

</footer>