<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <img src="../../resources/logo/white-logo.png">
                </div>
                <div class="col-lg-3 col-sm-2 col-xs-3">
                    <h3> Contact </h3>
                    <ul>
                        <li><a class="email"href="#"> ĐH Công Nghệ Thông Tin </a></li>
                        <br/>
                        <li> <p> 17520650@gm.uit.edu.vn </p> </li>
                        <li> <p> address line two </p> </li>
                    </ul>
                </div>
               
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
                          
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left copyright"> Copyright © Aurel 2019. All right reserved. </p>
       
        </div>
    </div>
    <!--/.footer-bottom--> 

</footer>