<div class="_header">
        <!-- title bar -->
        <div class="tit-bar">
            <div class="tit-bar-container _container">
                <ul class="tit-bar-options ">
                    <li class="vertical-center text-white">
                        <div id="notify">
                            <i class="material-icons vertical-center">notifications_none</i>
                            <span class="vertical-center">Notify</span>
                        </div>
    
                    </li>
                    <li class="vertical-center text-white">
                        <div id="sign-up">
                            <i class="material-icons vertical-center ">person</i>
                            <span class="vertical-center ">Sign Up</span>
                        </div>
                    </li>
                    <li class="vertical-center text-white">
                        <div id="login">
                            <i class="material-icons vertical-center">account_circle</i>
                            <span class="vertical-center ">Log In</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    
        <!-- header main -->
        <div class="header-main _container">
            <a href="./">
                <img src="../resources/logo/white-logo.png" id="logo" class="cursor-hand"></img>
            </a>
    
            <div id="search-bar">
                <div>
                    <input type="text" id="search-box" placeholder="Search in Aurel">
                    <button id="search-button" class="material-icons vertical-center">search
    
                    </button>
                </div>
            </div>
    
            <div id="cart">
                <div>
                    <button id="cart-button" class="material-icons cursor-hand hover-change-back"> shopping_cart
    
                    </button>
                </div>
            </div>
    
        </div>
    
        <!--  bar -->
    
        <div class="tit-bar">
    
        </div>
    
    
    </div>