<div class="home-banner">
        <div class="main-banner">
            <img src="../resources/banner/main-baner01.jpg" />
            <div class="main-banner-switch">
                <ul>
                    <li>
                        <i class="material-icons"> fiber_manual_record </i>
                    </li>
                    <li>
                        <i class="material-icons"> panorama_fish_eye </i>
                    </li>
                    <li>
                        <i class="material-icons"> panorama_fish_eye </i>
                    </li>
                    <li>
                        <i class="material-icons"> panorama_fish_eye </i>
                    </li>
                </ul>
            </div>

        </div>
        <div class="second-banner">
            <div class="second-banner-1">

            </div>
            <div class="second-banner-2">

            </div>
            <div class="second-banner-3">

            </div>
        </div>

    </div>