<div class="_sale-item container bg-white">
    <div class="container">
        <div class="row text-center">
            <img class='' src={//item.src_image//} ng-if="abc">
            <img class='' src='../../resources/logo/phone.jpg' ng-if="!abc">
        </div>
        <div class="_item-name row pt-2 pb-2">
            {//item.name//}
        </div>
        <div class="row">
            <div class="_item-price col-sm text-left pl-0 pr-0 pt-2 pb-2 font-weight-bold">{//item.price//}đ</div>
            <span class="_item-discount col-sm font-italic text-sm-left pl-2  pt-2 pb-2">-0% </span>
        </div>
        <del class='_item-f-price row text-left'>{//item.price//}đ</del>
        <div class="row p-3"></div>
    </div>
</div>