<div class="_sale-item container bg-white">
    <div class="container">
        <div class="row text-center">
            <img class='' src="../../resources/logo/phone.jpg">
        </div>
        <div class="_item-name row text-left font-weight-light text-dark  pt-2 pb-2">
            Điện thoại Xiaomi Mi 9 Lite Đẹp Nhất Hành Tinh
        </div>
        <div class="row">
            <div class="_item-price col-sm text-left pl-0 pr-0 pt-2 pb-2 font-weight-bold">4.990.000đ </div>
            <div class="_item-discount col-sm font-italic text-sm-left pl-0  pt-2 pb-2 text-danger">-33% </div>
        </div>
        <del class='_item-f-price row text-left'>7.490.000đ</del>
        <div class="_item-sold-quant row ">Đã bán : 101 </div>
    </div>
</div>