<div>
    
    <section >
        <div class="contrainer-fluid bg-white">
            <div class="align-middle pt-4 pb-4">
                <div class="row pt-5 pb-5">
                    <div class="col text-center ">
                        <div class="text-dark prefooter1">
                            Giao hàng toàn quốc    
                        </div>
                        <div class="text-dark prefooter2">
                            Click để tìm hiểu thêm
                        </div>
                        <div>

                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="text-dark prefooter1">
                            Đổi trả 30 ngày
                        </div>
                        <div class="text-dark prefooter2">
                            Click để tìm hiểu thêm
                        </div>
                        <div>

                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="text-dark prefooter1">
                            Chương trình khuyến mãi     
                        </div>
                        <div class="text-dark prefooter2">
                            Click để tìm hiểu thêm
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>