<div class="c2prKC" data-qa-locator="product-item" data-tracking="product-card"
    data-sku-simple="326252527_VNAMZ-522412960" data-item-id="326252527" data-aplus-ae="x31_48453b68"
    data-spm-anchor-id="a2o4n.searchlist.list.i30.684a6ea0bv7Z0O">
    <div class="c3e8SH c2mzns">
        <div class="c5TXIP">
            <div class="c2iYAv">
                <div class="cRjKsc"><a age="0"
                        href=""><img
                            class="c1ZEkM " src="../../resources/logo/83f3768bde98711e8c5bf657a1fba57c.jpg"
                            alt="Điện Thoại Samsung Galaxy A50S ( 4G/64G) A507F - Hãng Phân Phối Chính Thức" age="0"
                            type="product"></a></div>
                <div class="c29wL3">
                    <div class="c2iaNs">
                        
                    </div>
                </div>
            </div>
            <div class="c3KeDq">
                <div class="c3vCyH"><i class="ic-dynamic-badge ic-dynamic-badge-eMvaQr ic-dynamic-group-1"
                        style=" width: 30.8571px; height: 16px;"></i>
                </div>
                <div class="c16H9d"><a age="0"
                        href=""
                        title="Điện Thoại Samsung Galaxy A50S ( 4G/64G) A507F - Hãng Phân Phối Chính Thức">
                        Samsung Galaxy A50S ( 4G/64G) </a></div>
                <div class="c3gUW0"><span class="c13VH6">5,990,000 VND</span></div>
                <div class="c3lr34"><span class="c1-B2V"><del class="c13VH6">7,790,000 VND</del></span><span
                        class="c1hkC1">-23%</span>
                </div>
                <div class="c15YQ9">
                    <div class="c2JB4x c6Ntq9"><i class="c3dn4k c3EEAg"></i><i class="c3dn4k c3EEAg"></i><i
                            class="c3dn4k c3EEAg"></i><i class="c3dn4k c3EEAg"></i><i class="c3dn4k c3EEAg"></i><span
                            class="c3XbGJ">(1)</span></div><span class="c2i43- " title="Ho Chi Minh"></span>
                </div>
            </div>
        </div>
    </div>
</div>