<div class="">
    <div class="_slider">
        <div class="container pt-5 ">
            <div class="tit-slide text-center pt-4 text-light">
                Let's shopping with Aurel
            </div>
            <div class="tit2-slide text-center pt-2 text-light second-animation">
              BRAND NEW
            </div>
            <div class="search-bar contaner pr-5 pl-5 pt-2">
                <div class="input-search input-group mb-4 rounded-pill p-2 ">
                  <input type="text" placeholder="Tìm kiếm sản phẩm" aria-describedby="button-addon3" class="form-control border-0 coupon-input">
                  <div class="input-group-append border-0">
                    <button id="button-addon3" type="button" class="btn btn-danger px-4 rounded-pill " ng-click = "changeRoot()">
                      <i class="fa fa-search- mr-2"></i>Tìm kiếm</button>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>