<div class="container-fluid mt-sm-3 mb-sm-3 bg-white pd-3">
    <div class="row p-3">
        <span class="col-sm-6">
            ĐIỆN THOẠI 
        </span >
        <span class="col-sm-6 text-right">
            <a href="#">Xem tất cả</a>
        </span>
    </div>
    <div class="row text-center bg-white">
        <!-- <div class="_sale-item-col col-sm pl-1 pr-1 " ng-include src="'../app/components/item.html'">

        </div>
        <div class="_sale-item-col col-sm pl-1 pr-1 " ng-include src="'../app/components/item.html'">

        </div>
        <div class="_sale-item-col col-sm pl-1 pr-1 " ng-include src="'../app/components/item.html'">

        </div>
        <div class="_sale-item-col col-sm pl-1 pr-1 " ng-include src="'../app/components/item.html'">

        </div> -->
        <div class="_sale-item-col col-sm pl-1 pr-1 " ng-include src="'../app/components/item.html'" ng-repeat="item in items" ng-init="abc=true" ng-click="openLink(item.href)">

        </div>

    </div>
</div>