<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>

    <script type="text/javascript" src="../app/background/background.js"> </script>

    <link rel="stylesheet" href="/node_modules/material-icons/iconfont/material-icons.css">

</head>

<body ng-app='ecomApp' >

    <div id="root" ng-controller='SearchController'>
        <section>
            <div ng-include src="'../app/components/header.html'"></div>
        </section>
        <div class="_container">
            <div ng-init="getData('{{data}}')">
                <div ng-repeat='item in {{data}}'>
                    {{data}}
                </div>
            </div>
        </div>
        <ul ng-init=" 
        students = [  
                     {name: 'demo.dannguyen.net@gmail.com', age: 26, gender: 'boy'},  
                     {name: 'dannguyen.net', age: 30, gender: 'boy'},  
                     {name: 'Lan', age: 28, gender: 'girl'},   
                   ] ">
            <li ng-repeat="student in students">
                <div ng-include src="'../app/components/item.html'">

                </div>
            </li>
            data {//testServcie//}
        </ul>
        <section>
            <div ng-include src="'../app/components/footer.html'"></div>
        </section>
    </div>
</body>

</html>