
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
    background-color: rgba(243, 243, 243, 0.966);
    margin: 0;
    height: 100%;
    width: 100%;
}
body .main-body {
    padding-top: 20px;
}
.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.header {
   
    background: rgb(17, 158, 252);
    background: linear-gradient(75deg, rgb(135, 53, 211) 0%, rgba(69,183,252,1) 100%, rgba(29,236,253,1) 100%);
    height: 140px;
    width: 100%;
    display: inline-block;
}

.header .tit-bar {
    height: 25%;
    width: 100%;
    position: static;
    min-height: 35px;
   
}

.header .tit-bar .tit-bar-container {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.header .tit-bar .tit-bar-container .tit-bar-options {
    width: 30%;
    height: 100%;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    flex: auto;
    align-items: center;
}

.header .tit-bar .tit-bar-container .tit-bar-options li {
    position: relative;
    width: 33.33%;
    height: 100%;
    margin: 0%;
    padding-left: 10%;
    vertical-align: middle;
    overflow: hidden;
    float: right;
}

.tit-bar-options li div {
    cursor: pointer;
}

.tit-bar-options li i {
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-block;
}

.tit-bar-options li span {

    display: inline-block;
    margin-top:5%;
    margin-bottom: 5%;
  
}

#notify:hover {
    color: rgb(174, 216, 253);
}
#sign-up:hover {
    color: rgb(174, 216, 253);
}
#login:hover {
    color: rgb(174, 216, 253);
}

.header-main {
    /* height: 50%; */
    height: 70px;
   
}

#logo{

    width: 15%;
    height: 100%;
    float: left;
    display: inline-flex;
}

#search-bar{
    width: 70%;
    height: 100%;
    display: inline-flex;
    text-align: center;
    vertical-align: middle;
    padding-top : 1%;
    padding-bottom: 1%;
}
#search-bar div {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
    resize: none;
    
}

#search-bar #search-box {
    
    width: 100%;
    height: 45px;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 100%;
    border-radius: 55px;
    border-color: blueviolet;
    border: 1px;    
    resize: none;
    outline: none;
    font-family: "Arial"
}
#search-bar #search-button {
    
    background: rgb(144,31,206);
    background: linear-gradient(94deg, rgb(92, 31, 206) 0%, rgb(108, 29, 255) 0%, rgba(69,127,252,1) 100%, rgba(29,236,253,1) 100%);

    color: white;

    position: absolute;

    height: 40px;
    margin-left: -43px;
    margin-top: 2px;
    margin-bottom: auto;
    vertical-align: middle;

    border-radius: 55px;
    border-style: solid;

    border-color: rgb(255, 255, 255);
    outline: none;

    cursor: pointer;
}

#cart{
    width: 15%;
    height: 100%;
    float: right;
    display: inline-flex;
    padding-top : 1%;
    padding-bottom: 1%;
}
#cart div {

    float: right;
    margin-left: auto;
    vertical-align: middle;
}

#cart-button {

    width: 80px;
    height: 45px;
    border-style: solid;
    border-width: 2px;
    align-items: center;
    color: white;
    background-color: transparent;
    border-radius: 8%;
}

#cart-button:hover {
    
    background: rgb(255, 255, 255);
    /* background: linear-gradient(94deg, rgba(144,31,206,1) 0%, rgba(201,29,255,1) 0%, rgba(69,127,252,1) 100%, rgba(29,236,253,1) 100%);  */
    color: rgb(157, 54, 253);
    border-color:rgba(132, 55, 255, 0.705);
}

.navigation {
    background-color: white;
    width: 22%;
    float : left;
    border-width: 1px;
    border-color: rgb(218, 218, 218);
    border-style: solid;
    border-radius: 2px 0px 0px 2px;
}
.navigation ul{
    margin-top : auto;
    margin-bottom: auto;
    padding-left : 0;
    
}

.navigation li{
    /* width: 100%; */
    text-align: -webkit-match-parent;
    list-style: none;
    vertical-align: middle;
    height: 50px;
    
}
.navigation li:hover  {
    background: rgb(153,58,180);
    background: linear-gradient(75deg, rgb(33, 137, 255) 0%, rgba(69,183,252,1) 100%, rgba(29,236,253,1) 100%);
  
}

.navigation li:hover > a::before{

    display : block;
    content: "";
    position: absolute;
    right: -50px;
    top : 0px;
    bottom : 0px;
    height: 0px;
    margin : auto;
    border-top : 25px solid transparent;
    border-left : 25px solid rgb(0, 162, 255);
    border-bottom : 25px solid transparent;
    border-right : 25px solid transparent;
    z-index: 999 ;

}
.navigation li:hover a  {
    
    color: rgb(255, 255, 255);
}

.navigation li a{
    
    text-decoration: none;
    color: rgb(95, 94, 94);
    display: flex;
    height: 100%;
    position: relative;
    z-index : 2;    
}
.navigation li span {

    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5%;
    white-space:nowrap;
    
}
.navigation li i {

    display: flex;
    width: 30px;
    margin-top: auto;
    margin-bottom: auto;
    
}

.home-banner{
    
    width: 78%;
    height: 352px;
    display: flex;
    background-color: white;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 2px;
    position: relative;
    flex-wrap: wrap;
    
}

.home-banner .main-banner{
    background: url("../../resources/banner/main-baner01.jpg");
    background-size: cover;
    float:left;
    display: flex;
    height: 100%;
    width: 72%;
    overflow: hidden;


}
.main-banner-switch{
    position: absolute; 
    bottom: 0px;
    width: inherit;
}

.main-banner-switch ul {
    margin: 0 auto;
    padding-left : 0;
    vertical-align: middle;
    text-align: center;
}

.main-banner-switch li {
    
    display: inline-block;
    list-style: none;
    color: white;
    padding: 5px 10px 5px 10px;
    
}

.main-banner-switch li i {
    font-size: 18px;
    cursor: pointer;
}

.main-banner-switch li i:hover {
    color: rgb(122, 71, 243);
}
.home-banner .second-banner{
    
    float:left;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 28%;

    
}
.second-banner .second-banner-1{
    background: url("../../resources/banner/second-banner01.jpg");
    background-size: cover;
    display: block;
    width: 50%;
    height: 50%;
}
.second-banner .second-banner-2{
    background: url("../../resources/banner/second-banner02.jpg");
    background-size: cover;
    display: block;
    width: 50%;
    height: 50%;
}
.second-banner .second-banner-3{
    background: url("../../resources/banner/second-banner03.jpg");
    background-size: cover;
    /* display:flex; */
    float: left;
    width: 100%;
    height: 50%;
}
.text-center {
    text-align: center;

}

.vertical-center {
    vertical-align: middle;

}

.item-center {
    margin: auto;
    align-items: center;
    
}
.text-white {
    color: white;
}
.cursor-hand {
    cursor: pointer;
}

.hover-change-back{
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

